{% extends 'base.html' %}

{% block body%}
<body>
{% endblock %}

{% block content %}

{% for d in destinations %}
<div class="card col-6 offset-md-3">
    <div class="card-body text-center">
        {%for i in iata%}
        {%if i.code == d.destination %}
        <h4 class = "card-header search-header">{{i.name}} ({{d.destination}})</h4>
        {%endif%}
        {%endfor%}
        <form action="/{{trip.id}}/{{d.destination}}/flights/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="budget" value="{{budget}}">
            <input type="hidden" name="origin" value="{{origin}}">
            <input type="hidden" name="destination_estimate" value="{{d.price.total}}">
            <input type="hidden" name="departure_date" value="{{d.departureDate}}">
            <input type="submit" value="Search flights as low as ${{d.price.total}}" class="btn btn-primary">
        </form>
    </div>
</div>

{% endfor %}


{% endblock %}

{% block footer %}
    <div class="card-footer text-muted">
{% endblock %}