{% extends 'base.html' %}
{% block content %}
{{trip.id}}
<h2>Remaining Budget: ${{remaining_budget}}</h2>
{% for h in hotels %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{h.hotel.name}}</h5>
        <p class="card-text">${{h.offers.0.price.total}} / per night</p>    
        <a href = '/hotel/{{h.hotel.id}}/'>See More</a>
    </div>
    <form action="/hotels/add/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="name" value = "{{h.hotel.name}}">
        <input type="hidden" name="check_in" value = "{{h.offers.0.changes.price.0.startDate}}">
        <input type="hidden" name="check_out" value = "{{h.offers.0.changes.price.0.endDate}}">
        <input type="hidden" name="street" value = "{{h.hotel.address.lines.0}}">
        <input type="hidden" name="zipcode" value = "{{h.hotel.address.postalCode}}">
        <input type="hidden" name="city" value = "{{h.hotel.address.cityName}}">
        <input type="hidden" name="price" value = "{{h.offers.0.price.total}}">
        <input type="hidden" name="trip" value="{{trip.id}}">
        <input type="submit" value="Add to Trip" class="btn btn-primary" >
    </form>  
</div>

{% endfor %}
{% endblock %}