.card-footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

#home-footer {
    position: fixed;
}

body {
    font-family: 'Sniglet', cursive;
}

.bg-image {
    background-image: url('globe.jpeg');
    background-position: center;
    height: 100vh;
}

h1 {
    font-family: 'Pacifico', cursive;
    padding: 20px;
    font-size: 150px;
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 20px; 
}

.btn {
    border: 2px solid black;
}

.btn-primary {
    background-color: #3b7e91;
}

.btn-primary:hover {
    background-color: white;
    color: black;
    border: 1px solid #4076A9;
}
.card {
    margin-top: 50px;
    padding-bottom: 20px;
    border: 5px solid black;
}

.col-4 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.trip-header {
    font-size: 60px;
}

h4 {
    background-color: #4076A9;
    color: white;
    padding: 5px;
}

h5 {
    margin-bottom: 15px;
}

.card-header {
    background-color: #b4d6df;
    color: white;
    padding-bottom: 20px;
}

.row {
    padding-bottom: 20px;
}

.search-header {
    margin-bottom: 10px;
}

span {
    background-color: #a6abb0;
    color: white;
    padding: 5px;
}

.add {
    font-size: 20px;
    background-color: #b4d6df;
}