{% extends 'base.html' %}
{% load static %}

<br><br>
{% block body%}
<body class = "bg-image">
{% endblock %}

{% block content %}
<form action="destinations/search/" method="POST">
    {%csrf_token%}
    <div class="container h-100">
        <div style="text-align: center;">  
            <h1>vagary</h1>
        </div>
        <div class="row">
            <div class="col-12 align-self-center">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Where Are You Now?</span>
                    </div>
                    <input type="text" class="form-control" name="origin" aria-describedby="basic-addon1" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">How Much Can You Spend?</span>
                    </div>
                    <input type="number" class="form-control" name="budget" placeholder="$1000" aria-describedby="basic-addon1" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">When Do You Wanna Leave?</span>
                    </div>
                    <input type="date" class="form-control" name="d_date" aria-describedby="basic-addon1" required>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 0 auto; text-align: center;">
        <input type="submit" value="Get Me Outta Here!" class="btn btn-light">
    </div>
</form>
{% endblock %}

{% block footer %}
    <div id = "home-footer" class="card-footer text-muted">
{% endblock %}
