{% extends 'base.html' %}
{% block content %}

<!-- {{current_flight}} -->
{% if current_flight%}
<div>
    <h2>Flight</h2>
    <p>Origin: {{current_flight.origin}}</p>
    <p>Destination: {{current_flight.destination}}</p>
    <p>Depart Date:{{current_flight.departure_date}}</p>
    <p>Price: {{current_flight.price}}</p>
</div>
{% else %}
<div>
    <p>There is no flight added.</p>
</div>
{% endif %}
{% if current_hotel %}
<h2>Hotel</h2>
<p>Hotel Name: {{current_hotel.name}}</p>
<p>Check In: {{current_hotel.check_in}}</p>
<p>Check Out: {{current_hotel.check_out}}</p>
<p>Address: {{current_hotel.address}}</p>
<p>Price per night: {{current_hotel.price}}</p>
{% else %}
<h2>There is no hotel added.</h2>
{%endif%}
{% endblock %}
